<footer id="fh5co-footer">
    <div class="container">
        <ul class="fh5co-social-icons">
            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
            <li><a href="#"><i class="ti-facebook"></i></a></li>
        </ul>
        <p class="text-muted fh5co-no-margin-bottom text-center">&copy; 2016 <a href="/">Jesień Linuksowa</a><br/><small>Template „Display” by <a href="http://freehtml5.co">freehtml5.co</a> <br/>(Creative Commons Attribution 3.0 License)</small></p>
    </div>
</footer>