<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ bag('general', this.alt, 'meta_description') }}" />
<meta name="keywords" content="{{ bag('general', this.alt, 'meta_keywords') }}" />
<meta name="author" content="{{ bag('general', this.alt, 'meta_author') }}" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="icon.png">

<!-- Google Webfont -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto+Slab" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
<!-- Themify Icons -->
<link rel="stylesheet" href="{{ '/css/themify-icons.css' | asseturl }}">
<!-- Bootstrap -->
<link rel="stylesheet" href="{{ '/css/bootstrap.css' | asseturl }}">
<!-- Owl Carousel -->
<link rel="stylesheet" href="{{ '/css/owl.carousel.min.css' | asseturl }}">
<link rel="stylesheet" href="{{ '/css/owl.theme.default.min.css' | asseturl }}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{{ '/css/magnific-popup.css' | asseturl }}">
<!-- Superfish -->
<link rel="stylesheet" href="{{ '/css/superfish.css' | asseturl }}">
<!-- Easy Responsive Tabs -->
<link rel="stylesheet" href="{{ '/css/easy-responsive-tabs.css' | asseturl }}">

<!-- Theme Style -->
<link rel="stylesheet" href="{{ '/css/style.css' | asseturl }}">


<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="{{ '/js/modernizr-2.6.2.min.js' | asseturl }}"></script>
<script src="{{ '/js/respond.min.js' | asseturl }}"></script>
<![endif]-->