<div class="fh5co-side-section sidebar-buttons">
    <a class="btn btn-primary btn-md" href="#">{{ bag('general', this.alt, 'become_sponsor') }}</a>
</div>
<div class="fh5co-spacer fh5co-spacer-xs"></div>
<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'main_sponsors') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="http://www.samsung.com/pl/home/"><img class="sidebar-logo" src="{{ '/img/sponsors/samsung.png' | asseturl }}" alt="Samsung"/></a></li>
        <li><a class="sidebar-logo-link" href="http://mokyokit.com/"><img class="sidebar-logo" src="{{ '/img/sponsors/mokyok_it.png' | asseturl }}" alt="MokYok IT"/></a></li>
        <li><a class="sidebar-logo-link" href="http://www.osec.pl/"><img class="sidebar-logo" src="{{ '/img/sponsors/osec_pl.png' | asseturl }}" alt="OSEC"/></a></li>
    </ul>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'main_media_patronage') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="http://www.interia.pl/"><img class="sidebar-logo" src="{{ '/img/sponsors/interia.png' | asseturl }}" alt="Interia"/></a></li>
    </ul>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'media_patronage') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="http://www.osworld.pl/"><img class="sidebar-logo" src="{{ '/img/sponsors/osworld.png' | asseturl }}" alt="OSWorld"/></a></li>
        <li><a class="sidebar-logo-link" href="http://www.linuxmagazine.pl/"><img class="sidebar-logo" src="{{ '/img/sponsors/linuxmag.png' | asseturl }}" alt="Linux Magazine Polska"/></a></li>
    </ul>
</div>