{% macro render_agenda_item_list(item) %}
    <article class="agenda-item">
        {% if item.linkable %}
            <div class="panel panel-default">
                <div class="panel-heading collapsed" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#panel-{{ item._id }}" aria-expanded="false" aria-controls="panel-{{ item._id }}">
                    <h4 class="panel-title"><a class="accordion-toggle">
                        {{ render_time(item) }} {{ item.title }}<i class="agenda-item-speakers">{{ item.speakers }}</i>
                    </a></h4>
                </div>
                <div id="panel-{{ item._id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {{ item.description }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#panel-{{ item._id }}" aria-expanded="false" aria-controls="panel-{{ item._id }}">
                    <h4 class="panel-title">{{ render_time(item) }} {{ item.title }}</h4>
                </div>
            </div>
        {% endif %}
    </article>
{% endmacro %}

{% macro render_agenda_item_single(item) %}
    <article class="agenda-item">
        <h3>{{ item.title }}</h3>
        <h4>{{ item.speakers }}</h4>
        <p>{{ item.description }}</p>
    </article>
{% endmacro %}


{% macro render_time(item) %}
    <strong>
    {% if item.start_time and item.end_time %}
        {{ item.start_time | datetimeformat('HH:mm') }} - {{ item.end_time | datetimeformat('HH:mm') }}
    {% else %}
        {{ item.start_time | datetimeformat('HH:mm') }}
    {% endif %}
    </strong> –
{% endmacro %}

{% macro render_agenda_day(day, from_index=false) %}
    <section class="agenda-day">
        <h2>{{ day.title }}</h2>
        <div class="panel-group fh5co-accordion" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in day.children %}
            {{ render_agenda_item_list(item) }}
            {% endfor %}
        </div>
  </section>
{% endmacro %}
