{% macro render_faq_topic(topic) %}
    <section class="faq-topic">
        <h2>{{ topic.title }}</h2>
        <div class="panel-group fh5co-accordion" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in topic.children %}
            {{ render_faq_item(item) }}
            {% endfor %}
        </div>
  </section>
{% endmacro %}

{% macro render_faq_item(item) %}
    <article class="faq-item">
        <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#panel-{{ item._id }}" aria-expanded="false" aria-controls="panel-{{ item._id }}">
                <h4 class="panel-title"><a class="accordion-toggle">
                    {{ item.question }}
                </a></h4>
            </div>
            <div id="panel-{{ item._id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ item.answer }}
                </div>
            </div>
        </div>
    </article>
{% endmacro %}