{% macro render_pagination(pagination, alt) %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; {{ bag('general', alt, 'previous') }}</a>
    {% else %}
      <span class="disabled">&laquo; {{ bag('general', alt, 'previous') }}</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">{{ bag('general', alt, 'next') }} &raquo;</a>
    {% else %}
      <span class="disabled">{{ bag('general', alt, 'next') }} &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
