{% macro render_speaker(speaker) %}
    <article class="speaker">
        <h2>{{ render_speaker_name(speaker) }}</h2>
        <h3>{{ speaker.role }}</h3>
        <section>{{ speaker.description }}</section>
    </article>
{% endmacro %}

{% macro render_speaker_name(speaker) %}
    {{ speaker.first_name + " " + speaker.last_name }}
{% endmacro %}