{% extends "layout.html" %}
{% from "macros/agenda.html" import render_agenda_day %}
{% block title %}Agenda{% endblock %}
{% block body %}
    <section>
        <h1>Agenda</h1>
        {% for child in this.children %}
        {{ render_agenda_day(child, from_index=true) }}
        {% endfor %}
    </section>
{% endblock %}
