{% extends "layout.html" %}
{% from "macros/faq-topic.html" import render_faq_item %}
{% block title %}{{ this.question }}{% endblock %}
{% block body %}
    <section>
        <h1>FAQ</h1>
        {{ render_faq_item(this) }}
    </section>
{% endblock %}
