{% extends "layout.html" %}
{% from "macros/faq-topic.html" import render_faq_topic %}
{% block title %}FAQ{% endblock %}
{% block body %}
    <section>
        <h1>FAQ</h1>
        {% for topic in this.children %}
        {{ render_faq_topic(topic) }}
        {% endfor %}
    </section>
{% endblock %}
