<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock %} | Jesień Linuksowa 2016 – konferencja Wolnego Oprogramowania i systemu GNU/Linux</title>
    {% include 'layout/head.html' %}
</head>
<body>

    {% include 'layout/navbar.html' %}

    {% block header %}
    {% include 'layout/hero.html' %}
    {% endblock %}

    <div id="fh5co-main">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8" id="fh5co-content">
                        <main>
                            {% block body %}
                            {% endblock %}
                        </main>
                        <div class="fh5co-spacer fh5co-spacer-md"></div>
                    </div>
                    <div class="col-md-3 col-md-offset-1" id="fh5co-sidebar">
                        {% include 'layout/sidebar.html' %}
                    </div>
                </div>
            </div>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
        </section>
        {% include 'layout/footer.html' %}
    </div>

    {% include 'layout/body_bottom.html' %}
</body>
