{% extends "layout.html" %}
{% from "macros/speakers.html" import render_speaker %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <section>
        <h1>{{ this.title }}</h1>
        {% for child in this.children %}
        {{ render_speaker(child) }}
        {% endfor %}
    </section>
{% endblock %}

